<header>
  <% if(!isAuth) { %>
  <a href="/sign-up"><button>Sign up</button></a>
  <a href="/log-in"><button>Log in</button></a>
  <% } %><% if(isAuth) { %>
  <a href="/log-out"><button>Log out</button></a>
  <% } %>
</header>
